* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, #bca3ac 0%, #f3eaf4 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section h2 {
  text-align: center;
  padding-bottom: 60px;
}

.blocks-container {
  display: flex;
  gap: 30px;
}

.block {
  width: 120px;
  height: 100px;
  background-color: #fafafa;
  box-shadow: 1px 2px 6px rgba(105, 102, 102, 0.596);
  border-radius: 8px;
  text-align: center;
}